.App {
  text-align: center;
}

.MainForm {
  padding: 10px;
  background-color: grey;
}

body {
  margin: 0; 
  padding: 0;
  font-family: sans-serif;
  background-image:linear-gradient(rgba(0.4, 0, 0, 0.4),rgba(0, 0, 0, 0.4) ), url(../bg.jpg);
  background-size: cover;
}

h1 {
  color: gray;
}
h2 {
  font-size: .8em;
}
.PropName {
  font-weight: bold;
  color: #6264A7;
}
.Logo {
  font-size: 45pt;
  color: #6264A7;
}
.Error {
  color: red;
}

/* a {
  color: red;
  background-color: green;
} */

.login-box {
  width: 500px;
  color: white;
  position: absolute;
  top: 45%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 3px solid  rgb(49, 49, 49);
  border-radius: 20px;
  padding: 50px 50px;
  background-color: rgba(49, 49, 49, 1);
  text-align: center;
}

.login-box h1{
  float: center;
  font-size: 30px;
  /* text-decoration: underline; */
  text-decoration-color:  #287d97;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 5px;
  text-align: justify;
  margin: 8px 0;
  border-bottom: 1px solid #287d97;

}

.textbox input{
  outline: none;
  border: none;
  background: none;
  width: 200px;
  color: white;
  font-size: 15px;
}

.btn{
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  transition: 0.3s ease-out;
}

.btn:hover{
  background-color: #287d97; 
  cursor:pointer;
  /* color:  rgba(49, 49, 49, 1); */
  color: white;
}